@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3" style="margin-left:50px;">Categories</h1>
<hr style="margin-left:50px;"/>

<p>
    <a asp-action="Create"><button class="btn-primary" style="width: 1050px; margin-left:50px; border-radius: 5px; border: none; font-size: 17px; padding:8px"> + New Category </button></a>
</p>
<div class="table-responsive" style="padding-left:50px;">
    <table class="table table-bordered" style="color: #fff; align-items:center; font-size:18px;">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.Icon)
                </th>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th style="text-align: center;"> Actions</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Icon)
                </td>
                    <td style="text-align: center;">
                        <span style="background-color: @(item.Type == "Income" ? "#28a745" : "#dc3545"); color: #fff; padding: 6px 12px; border-radius: 5px; font-size:18px;">
                            @Html.DisplayFor(modelItem => item.Type)
                        </span>
                    </td>
                <td style="text-align: center;">
                        <a asp-action="Edit" asp-route-id="@item.CategoryId"><button class="btn-success" style="width: 30%; border-radius: 5px; border: none; font-size: 17px; padding:4px"> Edit </button></a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId"><button class="btn-primary" style="width: 30%; border-radius: 5px; border: none; font-size: 17px; padding:4px"> Details </button></a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId"><button class="btn-danger" style="width: 30%; border-radius: 5px; border: none; font-size: 17px; padding:4px"> Delete </button></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
